.wrapper{
   position: relative;
   float: left;
   left: 0.00%;
   width: 100.00%;
   margin-bottom: 0.9%;
   background-color: #ffffff
}
.content{
   position: relative;
   float: left;
   left: 0.45%;
   width: 99.10%;
   height: 99.10%;
   background-color: #ffffff
}
body {
   border-width: 0px;
   padding: 0px;
   margin: 0px;
   font-size: 90%;
   background-color: #ffffff
}

#welcome{
	text-align: center;
}

#title {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 24px/normal "artifika", Helvetica, sans-serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 4px 0 9px rgba(255,255,86,0.7) , -2px 6px 13px rgba(20,255,20,0.7) ;
  -webkit-transition: transform 200ms cubic-bezier(0.42, 0, 0.03, 1.525) 10ms;
  -moz-transition: transform 200ms cubic-bezier(0.42, 0, 0.03, 1.525) 10ms;
  -o-transition: transform 200ms cubic-bezier(0.42, 0, 0.03, 1.525) 10ms;
  transition: transform 200ms cubic-bezier(0.42, 0, 0.03, 1.525) 10ms;
  -webkit-transform: rotateX(-0.5729577951308232deg) rotateY(5.156620156177409deg)   ;
  transform: rotateX(-0.5729577951308232deg) rotateY(5.156620156177409deg)   ;
  
}

#title:hover{
  transition: all .5s linear 0;
  cursor: pointer;
}

.testing {
	font-family: 'Amatic SC', cursive;
}

input[type='text'] {
    width:300px ;
    font-family:Open Sans, sans-serif;
    font-size:18px;
}