<h1 style="font size:24px">FAQ </h1>

<div id="menu">
  <h3>Step 1 </h3>
  <div>
    <p>Enter the URL you would like to shorten at the input field</p>
  </div>

  <h3>Step 2</h3>
  <div>
    <p>Then Click on the submit button to retrieve the shorten URL</p>
  </div>

</div>  