<h1>Simple url shortener</h1>
<h3><%= @error %></h3>
<form action ="/urls" method = "POST" >
  Enter Url: 
  <input type = "text" name = "long_url" >
  <input type = "submit" name = "Submit" >
</form>
