<h1>Simple url shortener</h1>

<form action ="/urls" method = "POST" >
  Enter Url: 
  <input type = "text" name = "long_url" >
  <input type = "submit" name = "Submit" >
</form>




<% @urls.each do |url| %>
  <ul>
    <li>Long url: <%=url.long_url_text%></li>
    <li>Short url:<a href=<%= "#{url.short_url_text}" %>> <%=url.short_url_text %></a></li>
  </ul>
<% end %>