<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <script type="text/javascript" src="/js/application.js"></script>
  </head>
  <body>
    <h1> This is bitly-clone</h1>
    <hr>
    <%= yield %>  <!-- Display things from another .erb file -->
  </body>
</html>
